<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.scarecrow.root.orchardapp">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEM"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_guoyouxuan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_guoyouxuan"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">


        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainInterfaceActivity"></activity>
        <activity android:name=".FruitMainActivity">
        </activity>
        <activity android:name=".FruitShopActivity">
        </activity>
        <activity android:name=".LoginRegsitActivity">
        </activity>
        <activity android:name=".OrchardMainActivity">
        </activity>
        <activity android:name=".EventDetailActivity">
        </activity>
        <activity android:name=".LBSGuideActivity">
        </activity>
        <activity android:name=".OrchardSingleActivity">
        </activity>
        <activity android:name=".OrchardDetailActivity">
        </activity>
        <activity android:name=".ActivityOrchardExtendService">
        </activity>
        <activity android:name=".ActivityHealthyMain"></activity>
        <activity android:name=".NewsSingleActivity">
        </activity>

        <meta-data android:name="com.amap.api.v2.apikey"
            android:value="3c3edcd5e8fb0660561751a36a056163">
        </meta-data>
        <service android:name="com.amap.api.location.APSService">

        </service>

    </application>

</manifest>
